// Add any custom Sass & CSS here
body {
  font-family: 'Lato', serif;
  height:100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.font-style {
  font-weight: $font-weight;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.center {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.red {
  color: $red;
}

.pink {
  color: pink;
}

.blue {
  color: blue;
}

table a > img {
  width: 50px;
  height: 50px;
}

button.round, .button.round, button {
    border-radius: 1000px;
    outline: 0 !important;
}

.button {
  margin-bottom: 0;
  width: 90px;
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: 'Lato';
}

nav {
  height: 90px;
}

a {
  letter-spacing: $spacing;
  background:transparent;
  color: $super-dark;
  @extend .font-style;
}

.top-bar, .top-bar ul, .top-bar a {
  letter-spacing: $spacing;
  background:transparent;
  color: $super-dark;
  @extend .font-style;
}

.dropdown.menu:not(.vertical) .is-dropdown-submenu.first-sub:last-child {
    left: -210px;
}

.submenu li:first-child {
  border-bottom: solid;
  border-width: 1px;
  border-color: $light;
}
/*
.navbar-fix {
  padding: 20px 0px;
  position: fixed;
  width: 100%;
  text-align: center;
  display: inline-block;
  z-index: 1;
}*/

.userlist {
  width: 80%;
}

@media(min-width:40em) {
  .navbar-fix {
    @include transition(padding .3s);
  }
  .navbar-fix.navbar-shrink {
    opacity: 0.9;
    .logo-wrapper {
      display: none;
    }
  }
}

/* Small Navigation */
.title-bar {
  padding: 0 .5rem;
  background-color: $light;
  //position: fixed;
  width: 100%;
  z-index: 2;
  .logo-small {
    float: right;
  }
}

.data-responsive-toggle
{
  padding: 10px;
}

.menu-icon::after {
    background: $super-dark;
    box-shadow: 0 7px 0 $super-dark, 0 14px 0 $super-dark;
}

.menu-icon, .title-bar-title {
  position: relative;
  top: 10px;
  color: $super-dark;
}

/* Medium-Up Navigation */
@media only screen and (min-width: 640px) {

  .logo-wrapper {
    position: relative;
    .logo {
      width: $logo-width;
      //height:  80px;
      position: relative;
      float: left;
    //  left: 50%;
    //  margin-left: $logo-margin;
    }
  }
}

#header {
  background-color: transparent;
  position: absolute;
  padding: 0 20px;
  z-index: 1000;
  line-height: 1em;
  display: block;
}

.menu > li > a {
  padding: 2rem 0.5rem;
}

@media only screen and (max-width: 639px) {

  ul.vertical.medium-horizontal.menu > li {
    border-bottom: solid;
    border-width: 1px;
  }
  
  ul.vertical.medium-horizontal.menu > li:first-child {
    border-top: solid;
    border-width: 1px;
  }

}

.event-search input {
  width: 250px;
}

.event-search i, .event-search input {
  float: left;
}

.event-search i {
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  background-color: $light;
}

/* carousel */
@media only screen and (min-width: 640px) {

  .carousel {
    position: relative;
    top:-100px;
    z-index: -10000;
  }
}

/* Arrows */
.slick-prev:before, .slick-next:before {
  font-size: 50px;
}

.slick-prev, .slick-next {
  width: 100px;
  height: 100px;
  z-index: 1;
}

.slick-prev {
  left: 1%;
}

[dir='rtl'] .slick-prev, .slick-next {
  right: 1%;
}

[dir='rtl'] .slick-next {
  left: 1%;
}

.slick-dots {
  bottom: 0px;
}

.image {
  position: relative;
  height: auto;
  max-width: 100%;
  h2 {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    padding: 10%;
    //background-color: $super-dark;
    opacity: $opacity-medium;
    text-transform: uppercase;
  }
}

.full-width {
  max-width: 1400px;
}

@media only screen and (min-width: 640px) {
  #header {
    width: 100%;
  }
}
/*customize top-bar position*/
.top-bar-right {
  text-align: center;
  display: block;
  ul{
    @include breakpoint (small down) {
      background-color: $light;
    }
    li{
      text-decoration: none;
      display: inline-block !important;
      @include breakpoint(small down) {
      padding-top: 10px;
      display: block !important;
      }
    }
  }
}

textarea {
    height: auto;
}

.center {
	margin: 0 auto;
}

.centerAlign {
  text-align: center;
}

/* User Profile */

.image-container {

	position: relative;
}

.image-container a {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	top: 150px;
}

.image-container > img {
	border-style: solid;
	border-width: 5px;
  width: 150px;
  height: 150px;
}

.image-link {
	width: 160px;
}

.profile-detail-container {
	list-style-type: none;
	font-size: 18px;
  position: relative;
}

.profile-detail-container li {
  margin-bottom: 5px;
}

.profile-detail-container a {
  position: absolute;
  left: 40px;
}

.events-list, .events-list-details {
  list-style-type: none;
}

.events-list > li {
  width: 400px;

  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  background-color: $light;
}

.events-list > li:hover {
  background-color: $beige;
}

.events-list img {
  height: 75px;
  width: 75px;
  position: absolute;
}

.events-list a {
  color: black;
}

.events-list-details {
  position: relative;
  padding-left: 60px;
}

.edit-event-button {
  width: 100px;
  position:absolute;
  right: 5px;
  top: 0px;
}

.event-detail-header-container {
  position: relative;
}

/* User List */

.sortby-input {
	width: 150px;
}

/* login form */
.medium-6.medium-centered.large-4.large-centered.columns{
	border-radius:10px;
}
input[type]{
	border-radius:10px;
}
select{
	border-radius:10px;
	outline: none;
}
.log-in-form {
	padding: 1rem;
	border-radius: 3px;
}

.login-v-center {
  top: 20%;
  transform: translateY(20%);
}

.signup-v-center {
  top: 5%;
  transform: translateY(5%);
}

.signup-v-center form {
  margin-bottom: 5%;
}

.bg{
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -9999;
  position: fixed;
	background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.3)), url('../data/pics/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	padding-bottom: 50px;
}

/* NewsFeed */

.newsFeed-header h4{
  text-align: left;
}

/* footer */

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


.footer {
	text-align: center;
	font-size: 1.2rem;
	padding: 4rem;
	p {
		&.copywrite {
      letter-spacing: $spacing;
      color: $super-dark;
      @extend .font-style;
		}
	}
	.links a {
		list-style: none;
		font-weight: bold;
		color: blue;
		padding: 3rem 0 2rem;
		margin: 0;
		&::after {
			content: "•";
			padding: 0 0.4rem 0 0.8rem;
		}
		&:last-child::after {
			content: "";
			padding: 0 0.4rem 0 0.8rem;
		}
	}
}

.attendees-container ul >li{
  list-style-type: none;
}


.signup-button{
	border-radius: 25px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	outline: 0 !important;
}
