$font-xs: 0.8em;
$font-small: 1.2em;
$font-medium: 2em;
$font-large: 2.5em;
$font-xl: 4.5em;
$light: #f6f1ed;
$medium: #b5a397;
$dark: #6a5750;
$super-dark: #30231d;
$logo-width: 180px;
$logo-margin: - ($logo-width / 2);
$font-weight: 700;
$spacing: 1.5px;
$spacing-low: 1.2px;
$opacity-low: 0.7;
$opacity-medium: 0.8;
$opacity-high: 0.9;
// Insert your variables
