<div class="list" ng-controller='EditUserController'>
  <div class="row center">
    <div class="small-4 columns">
      <div class="image-container right">
        <img src="https://bucketlist.org/static/images/generic-profile-pic.png"/>
        <input type="text" placeholder="Image URL">
      </div>

    </div>
    <div class="small-8 columns left">
      <div class="profile-detail-container">
        <div class="input-group">
          <span class="input-group-label"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
          <input class="input-group-field" type="email" placeholder="Email" ng-model="email">
        </div>

        <div class="input-group">
          <span class="input-group-label"><i class="fa fa-user" aria-hidden="true"></i></span>
          <input class="input-group-field" type="text" placeholder="Name" ng-model="name">
        </div>

        <!-- PASSWORD only on correct user -->
        <div class="input-group">
          <span class="input-group-label"><i class="fa fa-lock" aria-hidden="true"></i></span>
          <input class="input-group-field" type="text" placeholder="Password" ng-model="password">
        </div>

        <div class="input-group">
          <span class="input-group-label"><i class="fa fa-neuter" aria-hidden="true"></i></span>
          <input class="input-group-field" type="text" placeholder="Gender" ng-model="gender">
        </div>

        <div class="input-group">
          <span class="input-group-label"><i class="fa fa-phone" aria-hidden="true"></i></span>
          <input class="input-group-field" type="text" placeholder="Phone Number" ng-model="phoneNumber">
        </div>

        <div class="input-group-button left">
            <input type="submit" class="button" value="Submit" ng-click="edit_user()">
        </div>
      </div>
    </div>
  </div>
</div>
