<div class="list" ng-controller='EditUserController'>
  <div class="row center">
    <div class="small-4 columns">
      <div class="image-container right">
        <img src="{{image}}" style="border-radius: 50%;margin-bottom:5px;"/>

        <input type="text" placeholder="Image URL" ng-model="image">
      </div>

    </div>
    <div class="small-8 columns left">
      <div class="profile-detail-container">
        <div class="input-group">
          <span class="input-group-label"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
          <input class="input-group-field" type="email" placeholder="Email" ng-model="email">
        </div>

        <div class="input-group">
          <span class="input-group-label"><i class="fa fa-user" aria-hidden="true"></i></span>
          <input class="input-group-field" type="text" placeholder="Name" ng-model="name">
        </div>

        <div class="input-group">
          <span class="input-group-label"><i class="fa fa-neuter" aria-hidden="true"></i></span>
          <input class="input-group-field" type="text" placeholder="Gender" ng-model="gender">
        </div>

        <div class="input-group">
          <span class="input-group-label"><i class="fa fa-phone" aria-hidden="true"></i></span>
          <input class="input-group-field" type="text" placeholder="Phone Number" ng-model="phoneNumber">
        </div>

        <div class="input-group-button left">
            <input type="submit" class="button" value="Submit" ng-click="edit_user()">
        </div>
      </div>
    </div>
  </div>
  <br>
  <p style="color:green;text-align:center;"><b>{{message2}}</b></p>
  <footer class="section footer color2" style="background-color:lightgrey;margin-top:10px;">
    <div class="row full-width">
      <div class="small-12 medium-4 large-4 columns">
        <h4>Note</h4>
        <span class="places">This site was built for educational purposes only.</span>
      </div>
      <div class="small-12 medium-4 large-4 columns">
        <h4>Follow Us</h4>
        <ul class="inline-list" style="list-style-type:none;">
          <li><a href="http://www.github.com"><i class="fi-social-github"></i></a></li>
          <li><a href="http://www.facebook.com"><i class="fi-social-facebook"></i></a></li>
          <li><a href="http://www.yelp.com"><i class="fi-social-yelp"></i></a></li>
          <li><a href="http://www.instagram.com"><i class="fi-social-instagram"></i></a></li>
        </ul>
      </div>
      <div class="small-12 medium-4 large-4 columns">
        <h4>Location</h4><br>
        <span class="places">1300 Standiford Ave, <br>Modesto, CA 95350</span><br>
        <span class="places"><br>Tel: (209) 342-6798</span>
      </div>
    </div>
  </footer>
</div>
