<!-- <div ng-controller='EventDetailController'> -->
<div ng-app='app' ng-controller='EventDetailController' style="z-index:99;padding-bottom: 200px;">
<div class="row" style="background-color: white;padding: 20px;">
	<div class="event-detail-header-container">
		<button type="submit" style="float: left;" class="button alert round delete-event-button" ng-if="event.hostId === curr_user._id" ng-click="remove(event._id)">Delete</button>
		<h2><img ng-src="{{event.image}}" style="border-radius: 50%;width: 150px;height: 150px;"> {{event.name}}  </h2>
		<a href="#/edit-event/{{event._id}}"><button type="submit" class="button warning round edit-event-button" style="float: right;" ng-if="event.hostId === curr_user._id">Edit Detail</button></a>
	</div>
     <hr>
     </a>
     
     


   	<!-- <img style="margin:0 auto;display: table-cell;text-align:center;vertical-align: middle;" src="http://placekitten.com/200/200" alt="user profile pic"> -->
   	<h3 style="text-align:center;vertical-align: middle;">Hosted by: </h3>
   	<h4 style="text-align:center;vertical-align: middle;">{{event.host}}</h4>

 	<div class="row small-up-1 medium-up-1 text-center" style="display:inline;background-color: white;padding-bottom: 30px;">
 		<div class="callout primary shrink columns">
 		<section>
			 		<i class="fa fa-calendar-o" aria-hidden="true"></i> Time: {{event.time}} {{event.hour}}
 		</section>
 		<section>
			 		<i class="fa fa-location-arrow" aria-hidden="true"></i> Place: {{event.place}}
 		</section>
 		<section>
 			<i class="fa fa-home" aria-hidden="true"></i>Description: {{event.description}}
 		</section>

 		</div>
		<div class="centerAlign">
			<button type="submit" class="button round" ng-class="{true:'success', false:'secondary'}[isActive]" ng-click="rsvpUser(curr_user._id,event._id)" ng-hide="curr_user._id==event.hostId">{{rsvpText}}</button>
		</div>
 		<!-- <div class="callout shrink columns">Place: UIUC Grainger Library 4th Floor</div> -->
 		<!-- <div class="columns">Monday April 25th</div> -->
 	</div>
 	<div class="row small-up-1 medium-up-1 text-center" style="background-color: white;padding: 20px;">

 	</div>

	<div class="row small-up-1 medium-up-1 text-center" style="background-color: white;padding: 20px;">
		<h3>Guests</h3>
		<div class="callout row">
			<div ng-repeat="usr in event.attending">
			<a href="#/users/{{usr}}">{{attendents[$index]}}</a>
			</div>
		</div>
	</div>

</div>
	<footer class="section footer color2" style="background-color:lightgrey;margin-top:10px;">
		<div class="row full-width">
			<div class="small-12 medium-4 large-4 columns">
				<h4>Note</h4>
				<span class="places">This site was built for educational purposes only.</span>
			</div>
			<div class="small-12 medium-4 large-4 columns">
				<h4>Follow Us</h4>
				<ul class="inline-list" style="list-style-type:none;">
					<li><a href="http://www.github.com"><i class="fi-social-github"></i></a></li>
					<li><a href="http://www.facebook.com"><i class="fi-social-facebook"></i></a></li>
					<li><a href="http://www.yelp.com"><i class="fi-social-yelp"></i></a></li>
					<li><a href="http://www.instagram.com"><i class="fi-social-instagram"></i></a></li>
				</ul>
			</div>
			<div class="small-12 medium-4 large-4 columns">
				<h4>Location</h4><br>
				<span class="places">1300 Standiford Ave, <br>Modesto, CA 95350</span><br>
				<span class="places"><br>Tel: (209) 342-6798</span>
			</div>
		</div>
	</footer>
</div>