
<div ng-controller = 'LoginController'>
    <div class="bg"></div>
    <div class="row login-v-center">
        <div class="medium-6 medium-centered large-4 large-centered columns" style="background-color: white;">
            
            <form name="form" role="form">
                <div class="row column log-in-form">
                    <h4 class="text-center">Log in with your email account</h4>
                    <p class="text-center red">{{message}}</p>
                    <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                        <label for="email" class="text-center">Email <span style="color: red">*</span></label>
                        <input type="email" placeholder="Email Address" name="email" id="email" class="form-control" ng-model="user.email" required />
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label for="password" class="text-center">Password <span style="color: red">*</span></label>
                        <input type="password" placeholder="Password" name="password" id="password" class="form-control" ng-model="user.password" required />
                    </div>
                    <button type="submit" class="button" ng-click="login()">Log In</button>
                    <p class="text-center">New? Create an account <a ng-href="#/signup">here</a></p>
                </div>
            </form>
    
        </div>
    </div>
</div>
