<div ng-controller='NewsFeedController'>
  <div class="row">
    <div class="columns small-8 small-offset-2">

      <div class="row">

        <div class="small-10 columns newsFeed-header">
          <h4>NewsFeed </h4>

        </div>

        <div class="small-2 columns">
          <a href="#/event">
            <button type="button" class="success button"><i class="fa fa-plus" aria-hidden="true"></i> Event</button>
          </a>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="columns right">
          <fieldset>
                <input type="text" name="input" placeholder="Search for food event" ng-model="searchEvent">
          </fieldset>
              <div class="row">
                <div class="small-6 columns">
                <label>
                 <select ng-model="sortBy">
                   <option value="name">name</option>
                   <option value="time">date</option>
                 </select>
               </label>
             </div>
              <div class="small-6 columns">
                <input type="radio" value = "1" ng-model="order" id="ascending"><label for="ascending">ascending</label>
                <input type="radio" value = "-1" ng-model="order" id="descending"><label for="descending">descending</label>
              </div>
            </div>
        </div>
      </div>

		<div class="callout" ng-if="event.hostId !== curr_user._id" ng-repeat="event in events">
                    <div class="row panel">
                      <div class="columns small-6">
                        <img width="40px" class="left" src="https://bucketlist.org/static/images/generic-profile-pic.png"/>
                        <a href="#/users/{{event.hostId}}"> &nbsp; <i class="fi-male large"></i> {{event.host}}</a>
                      </div>

                      <div class="columns small-4 right">
                          <h6><i class="fi-calendar large"></i> {{event.time}}  {{event.hours}}</h6>
                      </div>
                    </div>

                    <div class="centerAlign">
                      <a href="#/event-detail/{{event._id}}"><h2> {{event.name}}</h2></a>
                    </div>
                    <hr>
                    <div class="centerAlign">
                     <h5><i class="fi-marker large"></i> Place: {{event.place}}</h5>
                     <h5><i class="fi-male-female large"></i> Attendee : {{event.attending.length}}  </h5>
                     <h5><i class="fi-marker large"></i> foodStyle : {{event.foodstyle}}  </h5>
                     <button type="button" class="button" ng-class="{true:'success', false:'secondary'}[event.isActive]" ng-click="toggleActive($index);rsvpUser(curr_user._id,event._id);">{{event.rsvpText}}</button>
                    </div>
      </div>

<!--
         <div class="callout">
              <div class="row panel">
                <div class="columns small-6">
                  <img width="40px" class="left" src="https://bucketlist.org/static/images/generic-profile-pic.png"/>
                  <a href="#/users/123"> &nbsp; <i class="fi-female large"></i> Maddieee</a>
                </div>
                <div class="columns small-4 right">
                    <h5><i class="fi-calendar large"></i> 04/27/2016  12:30pm</h5>
                </div>
              </div><hr>
              <div class="centerAlign">
           <h5><i class="fi-marker large"></i> Place: Sakanaya</h5>
           <h5><i class="fi-male-female large"></i> Attendee 10: Aaron, Yiming, Matthew <i class="fi-arrow-down"></i></h5>
           <a href="#/events/123"><button class="button secondary">RSVP</button></a>
         </div>
        </div>

        <div class="callout">
             <div class="row panel">
               <div class="columns small-6">
                 <img width="40px" class="left" src="https://bucketlist.org/static/images/generic-profile-pic.png"/>
                 <a href="#/users/123"> &nbsp; <i class="fi-male large"></i> Matthew</a>
               </div>
               <div class="columns small-4 right">
                   <h5><i class="fi-calendar large"></i> 04/27/2016  11:30pm</h5>
               </div>
             </div><hr>
             <div class="centerAlign">
          <h5><i class="fi-marker large"></i> Place: Sakanaya</h5>
          <h5><i class="fi-male-female large"></i> Attendee 10: Aaron, Yiming, Matthew <i class="fi-arrow-down"></i></h5>
          <a href="#/events/123"><button class="button secondary">RSVP</button></a>
        </div>
       </div>

       <div class="callout">
            <div class="row panel">
              <div class="columns small-6">
                <img width="40px" class="left" src="https://bucketlist.org/static/images/generic-profile-pic.png"/>
                <a href="#/users/123"> &nbsp; <i class="fi-male large"></i> Aaron</a>
              </div>
              <div class="columns small-4 right">
                  <h5><i class="fi-calendar large"></i> 04/27/2016  10:30pm</h5>
              </div>
            </div><hr>
            <div class="centerAlign">
         <h5><i class="fi-marker large"></i> Place: Sakanaya</h5>
         <h5><i class="fi-male-female large"></i> Attendee 10: Aaron, Yiming, Matthew <i class="fi-arrow-down"></i></h5>
         <a href="#/events/123"><button class="button secondary">RSVP</button></a>
       </div>
      </div>

      <div class="callout">
           <div class="row panel">
             <div class="columns small-6">
               <img width="40px" class="left" src="https://bucketlist.org/static/images/generic-profile-pic.png"/>
               <a href="#/users/123"> &nbsp; <i class="fi-male large"></i> Yiminghere </a>
             </div>
             <div class="columns small-4 right">
                 <h5><i class="fi-calendar large"></i> 04/27/2016  10:30pm</h5>
             </div>
           </div><hr>
           <div class="centerAlign">
        <h5><i class="fi-marker large"></i> Place: Sakanaya</h5>
        <h5><i class="fi-male-female large"></i> Attendee 10: Aaron, Yiming, Matthew <i class="fi-arrow-down"></i></h5>
        <a href="#/events/123"><button class="button secondary">RSVP</button></a>
      </div>
     </div>
 -->

      <!--
</div>
    </div>
 -->
    <div class="centerAlign">
      <ul class="pagination">
        <li class="arrow unavailable"><a href="">&laquo;</a></li>
        <li class="current"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li class="unavailable"><a href="">&hellip;</a></li>
        <li><a href="">12</a></li>
        <li><a href="">13</a></li>
        <li class="arrow"><a href="">&raquo;</a></li>
      </ul>
    </div>
  </div>


 <!--


 <div ng-controller='NewsFeedController'>
  <div class="row">
    <div class="columns small-8 small-offset-2">
      <div class="row">
        <div class="columns small-1">
          <h4>NewsFeed </h4>
        </div>
        <div class="columns right">
          <fieldset>
                <input type="radio" name="sortby" value="email" id="user-email" required><label for="user-email">Date</label>
                <input type="radio" name="sortby" value="name" id="user-name"><label for="user-name">Name</label>
                <select class="sortby-input">
                  <option value="ascending">Ascending</option>
                  <option value="descending">Descending</option>
                </select>
              Female <input type="checkbox">
              Male <input type="checkbox">
            </fieldset>
        </div>
      </div>
                <div class="row">
                    <button ng-hide=skip==0 ng-click="prev()" class="button info left"><i class="fi-arrow-left"></i> Prev</button>
                    <button ng-hide=nextFlag() ng-click="next()" class="button info right">Next <i class="fi-arrow-right"></i></button>
                </div>
      <div>
                <!~~ waited to be pulled from db ~~>

                <div class="callout" ng-repeat="event in events">
                    <div class="row panel">
                      <div class="columns small-6">
                        <img width="40px" class="left" src="https://bucketlist.org/static/images/generic-profile-pic.png"/>
                        <a href="#"> &nbsp; <i class="fi-male large"></i> {{event.host}}</a>
                      </div>

                      <div class="columns small-4 right">
                          <h5><i class="fi-calendar large"></i> {{event.time}} <hr> {{event.hour}}</h5>
                      </div>
                    </div>
                    <div class="centerAlign">
                      <a href="#/event-detail/{{event._id}}"><h3> {{event.name}}</h3></a>
                    </div>
                    <hr>
                    <div class="centerAlign">
                 <h5><i class="fi-marker large"></i> Place: {{event.place}}</h5>
                 <h5><i class="fi-male-female large"></i> Attendee
                 <!~~ <span class="success label"> {{num}}left</span> ~~>
                    <!~~ <i class="fa fa-flag fa-2x pull-left" aria-hidden="true"></i> Font Awesome<br>Version 4.6.2</a> ~~>
                    : {{event.attending}}
                    <!~~ <i class="fi-arrow-down"></i> ~~>
                    </h5>
                 <button class="button secondary">RSVP</button>
               </div>
              </div>
      </div>

      </div>
    </div>
    <div class="centerAlign">
      <ul class="pagination">
        <li class="arrow unavailable"><a href="">&laquo;</a></li>
        <li class="current"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li class="unavailable"><a href="">&hellip;</a></li>
        <li><a href="">12</a></li>
        <li><a href="">13</a></li>
        <li class="arrow"><a href="">&raquo;</a></li>
      </ul>
    </div>
  </div>

 -->
