<div ng-controller='NewsFeedController'>
  <div class="row">
    <div class="columns small-8 small-offset-2">
      <div class="row">
        <div class="columns small-1">
          <h4>NewsFeed </h4>
        </div>
        <div class="columns right">
          <fieldset>
                <input type="radio" name="sortby" value="email" id="user-email" required><label for="user-email">Date</label>
                <input type="radio" name="sortby" value="name" id="user-name"><label for="user-name">Name</label>
                <select class="sortby-input">
                  <option value="ascending">Ascending</option>
                  <option value="descending">Descending</option>
                </select>
              Female <input type="checkbox">
              Male <input type="checkbox">
            </fieldset>
        </div>
      </div>
         <div class="callout">
              <div class="row panel">
                <div class="columns small-6">
                  <img width="40px" class="left" src="https://bucketlist.org/static/images/generic-profile-pic.png"/>
                  <a href="#"> &nbsp; <i class="fi-female"></i> Maddieee</a>
                </div>
                <div class="columns small-4 right">
                    <h5><i class="fi-calendar large"></i> 04/27/2016  12:30pm</h5>
                </div>
              </div><hr>
              <div class="newsFeedInfo">
           <h5><i class="fi-marker large"></i> Place: Sakanaya</h5>
           <h5><i class="fi-male-female large"></i> Attendee 10: Aaron, Yiming, Matthew <i class="fi-arrow-down"></i></h5>
           <button class="button secondary">RSVP</button>
         </div>
          </div>

      </div>
    </div>
  </div>
