<div ng-controller='NewsFeedController'>
  <div class="row">
    <div class="columns small-8 small-offset-2">

      <div class="row">

        <div class="small-10 columns newsFeed-header">
          <h4>NewsFeed </h4>

        </div>

        <div class="small-2 columns">
          <a href="#/event">
            <button type="button" class="success button round"><i class="fa fa-plus" aria-hidden="true"></i> Event</button>
          </a>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="columns right">
          <fieldset>
                <input type="text" name="input" placeholder="Search for food event" ng-model="searchEvent">
          </fieldset>
              <div class="row">
                <div class="small-4 columns">
                <label>Sort by:
                 <select ng-model="sortBy">
                   <option value="name">name</option>
                   <option value="time">date</option>
                 </select>
               </label>
             </div>
              <div class="small-4 columns">
                <input type="radio" value = "1" ng-model="order" id="ascending"><label for="ascending">ascending</label><br>
                <input type="radio" value = "-1" ng-model="order" id="descending"><label for="descending">descending</label>
              </div>
              <div class="small-4 columns">
                <input type="radio" value = "1" ng-model="friends" id="all" ng-change="update()" default><label for="all">All</label><br>
                <input type="radio" value = "-1" ng-model="friends" id="friends" ng-change="update()"><label for="friends">Following</label>
              </div>
            </div>
        </div>


      </div>
<div class="row">
                    <button ng-hide=skip==0 ng-click="prev()" class="round button info left"><i class="fi-arrow-left"></i> Prev</button>
                    <button ng-hide=nextFlag() ng-click="next()" class="round button info right">Next <i class="fi-arrow-right"></i></button>
                </div>
        <br>
		<div class="callout" ng-if="event.hostId !== curr_user._id" ng-repeat="event in events| filter:searchEvent">
                    <div class="row panel">
                      <div class="columns small-6">
                        <a href="#/users/{{event.hostId}}"> &nbsp; <i class="fi-male large"></i> Hosted by: {{event.host}}</a>
                      </div>

                      <div class="columns small-4 right">
                          <h6><i class="fi-calendar large"></i> Date: {{event.time}} {{event.hours}}</h6>
                      </div>
                    </div>

                    <div class="centerAlign">
                      <a href="#/event-detail/{{event._id}}"><h2><img style="border-radius: 50%;width: 80px;height: 80px;" ng-src="{{event.image}}"/> {{event.name}}</h2></a>
                    </div>
                    <hr>
                    <div class="centerAlign">
                     <h5><i class="fi-marker large"></i> Place: {{event.place}}</h5>
                     <h5><i class="fi-male-female large"></i> Attendee : {{event.attending.length}}  </h5>
                     <h5><i class="fa fa-cutlery" aria-hidden="true"></i> Food style: {{event.foodstyle}}  </h5>
                        <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Occasion: {{event.occassion}}  </h5>
                     <button type="button" class="button round" ng-class="{true:'success', false:'secondary'}[event.isActive]" ng-click="toggleActive($index);rsvpUser(curr_user._id,event._id);">{{event.rsvpText}}</button>

                    </div>

      </div>

 <div class="row">
                    <button ng-hide=skip==0 ng-click="prev()" class="round button info left"><i class="fi-arrow-left"></i> Prev</button>
                    <button ng-hide=nextFlag() ng-click="next()" class="round button info right">Next <i class="fi-arrow-right"></i></button>
                </div>
 </div>
</div>
    <footer class="section footer color2" style="margin-top:10px;">
        <div class="row full-width">
            <div class="small-12 medium-4 large-4 columns">
                <h4>Community</h4>
    <span class="places">We provide service for people to host food event. We want to help friends, family, and even strangers schedule times to meet for lunch or dinner. We want to make it as easy as possible for people to be able to grab a meal together whenever they’re free. If you are interest, please join our community and have fun with each other by attending same food event!</span>
</div>
<div class="small-12 medium-4 large-4 columns">
    <h4>Follow Us</h4>
    <ul class="inline-list" style="list-style-type:none;">
        <li><a href="http://www.github.com"><i class="fi-social-github"></i></a></li>
        <li><a href="http://www.facebook.com"><i class="fi-social-facebook"></i></a></li>
        <li><a href="http://www.yelp.com"><i class="fi-social-yelp"></i></a></li>
        <li><a href="http://www.instagram.com"><i class="fi-social-instagram"></i></a></li>
    </ul>
</div>
<div class="small-12 medium-4 large-4 columns">
    <h4>Location</h4><br>
    <span class="places">1300 Standiford Ave, <br>Modesto, CA 95350</span><br>
    <span class="places"><br>Tel: (209) 342-6798</span>
</div>
</div>
</footer>
    </div>
