<div class="list" ng-controller='ProfileController'>
  <div class="row center">
    <div class="small-6 columns">
      <div class="image-container right">
        <img src="https://bucketlist.org/static/images/generic-profile-pic.png"/>
        <a class="button" href="#/editUser/123">Edit</a>
      </div>
    </div>
    <div class="small-6 columns left">
      <ul class="profile-detail-container">
        <li><i class="fa fa-envelope-o" aria-hidden="true"></i> NJCaruso@hotmail.com</li>
        <li><i class="fa fa-user" aria-hidden="true"></i> Nicolasa J. Caruso</li>
        <li><i class="fa fa-neuter" aria-hidden="true"></i> Male </li>
        <li><i class="fa fa-phone" aria-hidden="true"></i> 423-365-5993</li>
      </ul>
    </div>
  </div>

</div>

