<div class="list" ng-controller='ProfileController'>

<div class="row">
        <!-- PROFILE INFORMATION -->
            <div class="well" ng-show="profile">
                <h3><span class="fa fa-user"></span> Profile</h3>
            </div>
</div>


  <div class="row center">
    <h2>{{user.local.name}} </h2>

    <div class="small-6 columns">
      <div class="image-container right">
        <img src="{{user.local.image}}"/>
      </div>
    </div>
    <div class="small-6 columns left">
      <ul class="profile-detail-container">
        <li><i class="fa fa-envelope-o" aria-hidden="true"></i> {{user.local.email}}</li>
        <li><i class="fa fa-neuter" aria-hidden="true"></i> {{user.local.gender}} </li>
        <li><i class="fa fa-phone" aria-hidden="true"></i> {{user.local.phoneNumber}}</li>
        <!-- <li>id: {{user._id}}</li> -->
        <li><button type="submit" class="button round" ng-class="{true:'success', false:'secondary'}[isActive]" ng-click="follow(user._id)" ng-hide="curr_user._id==user._id">{{followText}}</button></li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row center">
    <div class="small-6 columns">
      <h3>Events Hosting</h3>
      <ul class="events-list">
          <li ng-repeat="event in eventsHosting">
            <a ng-href="#/event-detail/{{event._id}}">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Mcdonalds-90s-logo.svg/2000px-Mcdonalds-90s-logo.svg.png">

              <ul class="events-list-details">
                <li><b>Name:</b> {{event.name}}</li>
                <li><b>Setting:</b> {{event.occassion}}</li>
                <li><b>Number of Attendees:</b> {{event.attending.length}}</li>
              </ul>
            </a>
          </li>
      </ul>
    </div>
    <div class="small-6 columns">
      <h3>Events Attending</h3>
      <ul class="events-list">
        <li ng-repeat="event in eventsAttending">
          <a ng-href="#/event-detail/{{event._id}}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Mcdonalds-90s-logo.svg/2000px-Mcdonalds-90s-logo.svg.png">

            <ul class="events-list-details">
              <li><b>Name:</b> {{event.name}}</li>
              <li><b>Setting:</b> {{event.occassion}}</li>
              <li><b>Number of Attendees:</b> {{event.attending.length}}</li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
  </div>


</div>
