<div ng-controller = 'SignUpController'>
    <div class="bg"></div>
    <div class="row signup-v-center">
        <div class="medium-6 medium-centered large-4 large-centered columns" style="background-color: white;">
    
            <form name="form" role="form" ng-submit="signup()">
                <div class="row column log-in-form">
                    <h4 class="text-center">Sign up</h4>
                    <p class="text-center red">{{message}}</p>
                    <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
                        <label class="text-center" for="name">Name <span style="color: red">*</span></label>
                        <input type="text" placeholder="Full Name" name="name" id="name" class="form-control" ng-model="user.name" required />
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                        <label class="text-center" for="email">Email <span style="color: red">*</span></label>
                        <input type="email" placeholder="Email Address" name="email" id="email" class="form-control" ng-model="user.email" required />
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label class="text-center" for="password">Password <span style="color: red">*</span></label>
                        <input type="password" placeholder="Password" name="password" id="password" class="form-control" ng-model="user.password" required />
                    </div>
    
                    <div class="form-group" ng-class="{ 'has-error': form.phoneNumber.$dirty && form.phoneNumber.$error.required }">
                        <label class="text-center" for="phoneNumber">Phone Number <span style="color: red">*</span></label>
                        <input type="text" placeholder="xxx-xxxx" name="phoneNumber" id="phoneNumber" class="form-control" ng-model="user.phoneNumber" required />
                    </div>
                    <label class="text-center" for="gender">Gender</label>
                    <select name="gender" id="gender" ng-model="user.gender">
                        <option value="male"> Male </option>
                        <option value="female">Female</option>
                    </select><br>
    
                    <label class="text-center">Link to profile picture</label>
                    <input type="text" class="form-control" ng-model="user.image"/>
    
                    <button type="submit" class="button signup-button">Signup</button>
                    <p class="text-center">Already have an account? <a href="#/login">Login here</a></p>
                </div>
            </form>

        </div>
    </div>
</div>