<div class="list" ng-controller='TaskController'>
	<div class="row">
        <div class="columns small-8 small-offset-2">
           <!-- head-->
            <div class="row">
               <div class="columns small-8">
                   <h3>Task Lists
                     <span style="font-size:20px;">Bazinga!!</span></h3>
                </div>
               <div class="columns small-4 ">
                  <a class="button warning right" href="#/tasks/add">Add Task</a>
                </div>
            </div>
            <!--options-->

            <div class="row">
                <div class="small-6 columns">
                    <input type="radio" value="where={'completed':false}" ng-model="showOption" id="pending"><label for="pending">Pending</label>
                    <input type="radio" value="where={'completed':true}" ng-model="showOption" id="completed"><label for="completed">Completed</label>
                    <input type="radio" value="where={}" ng-model="showOption" id="all"><label for="all">All</label>
                </div>
                <div class="small-6 columns">
                    <label>
                      <select ng-model="sortBy">
                        <option value="dateCreated">dateCreated</option>
                        <option value="deadline">deadline</option>
                        <option value="name">name</option>
                        <option value="assignedUserName">assignedUserName</option>
                      </select>
                    </label>
                </div>
                <div class="small-6 columns">
                    <input type="radio" value = "1" ng-model="order" id="ascending"><label for="ascending">ascending</label>
                    <input type="radio" value = "-1" ng-model="order" id="descending"><label for="descending">descending</label>
                </div>
            </div>
                <div class="row">

                    <button ng-hide=skip==0 ng-click="prev()" class="button info left"><i class="fi-arrow-left"></i> Prev</button>
                    <button ng-hide=nextFlag() ng-click="next()" class="button info right">Next <i class="fi-arrow-right"></i></button>
                </div>

            <!--tasks-->

                    <div class="row" ng-repeat="task in tasks">
                      <hr>
                      <div class="columns small-4"><a href="#/tasks/{{task._id}}"> <b>{{task.name}}</b></a></div>
                      <div class="columns small-5 small-offset-2"><b>Id:</b> {{task._id}} <br><b>Deadline:</b> {{task.deadline}}<br><b>Assigned to:</b>  {{task.assignedUserName}}</div>
                      <div class="columns small-1">
                          <a class="button alert right" ng-click="deleteTask($index)">Delete</a>
                        </div>
                        <hr>
                    </div>

        </div>
    </div>

</div>
