<div class="list" ng-controller='TaskDetailController'>

    <div class="row">
        <div class="columns small-8 small-offset-2">
            <h2><strong>Task</strong> <span style="font-size:20px; color:grey;">Gotta get this done!!!:) </span><span><a href="#/editTask/{{task._id}}">
              <button class="button warning right">Edit Tasks</button></a></span></h2>
              <br><br>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="columns small-8 small-offset-2">

                <div class ="row">
                    <div class="columns small-8 small-offset-2">
                        <h2><b>{{task.name}} </h2>
                        <hr>
                        <h5>Assigned User: {{task.assignedUserName}}</h5>
                        <hr>
                        <h5>Completed: {{task.completed}}</h5>
                        <hr>
                        <h5>Date Created: {{task.dateCreated}}</h5>
                        <hr>
                        <h5>Deadline: {{task.deadline}}</h5>
                        <hr>
                        <h5>Description: <br>{{task.description}}</h5>
                        <hr>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
