
<!-- user list -->
<div class="list" ng-controller='UserController'>
	<form>
	  <div class="row">
        <!--  <div class="small-12 columns">-->
				<div class="columns small-8 small-offset-2">
            <!-- ng-model double binding-->
						<div class="row">
	            <div class="columns small-4"><h3 class="left">User List</h3></div>
	            <div class="columns small-4"></div>
	            <div class="columns small-4">
								<a href="#/users/add">
									<button class="button warning right">Add User</button>
								</a>
							</div>

						</div>

    <div class="text-center">
      <div class="row" ng-repeat="user in users">
				<hr>
       <div class="columns small-4"><a href="#/users/{{user._id}}"><b>{{user.name}}</b></a></div>
       <div class="columns small-4"><b>{{user.email}}</b></div>
       <div class="columns small-4"><button ng-click="deleteUser($index)" class="button alert">Delete</button></div>
       <hr>
      </div>
    </div>
	</div>
</div>
  </form>
</div>
