
<!-- user list -->
<div class="list" ng-controller='UserController'>
	<div class="row center">
		<fieldset>

    		<label class="user_input_container">
			  <input type="text" placeholder="Search for users" ng-model="searchUser">
			</label>

			<label class="user_input_container">Sort by:
			    <select ng-model="predicate">
			    	<option value="local.name">Name</option>
			        <option value="local.email">Email</option>
			        <option value="local.gender">Gender</option>
			    </select>

		  		<fieldset>
    				<input type="radio" name="order_by" value="ascending" id="ascending" required checked ng-click="reverse = false"><label for="ascending">Ascending</label>
    				<input type="radio" name="order_by" value="descending" id="descending" ng-click="reverse = true"><label for="descending">Descending</label>
    			</fieldset>
    		</label>

  		<table class="hover">
  			<thead>
  				<tr>
  					<th>Name</th>
  					<th>Gender</th>
  					<th></th>
  				</tr>
  			</thead>
  			<tr ng-repeat="user in users | filter:searchUser | orderBy:predicate:reverse" ng-if="user._id !== curr_user._id">
  				<td><a ng-href="#/users/{{user._id}}">{{user.local.name}}</a></td>
  				<td>{{user.local.gender}}</td>
  				<td>
  					<button type="submit" class="button round" ng-class="{true:'success', false:'secondary'}[user.isActive]" ng-click="follow(user._id, $index)" >{{user.followText}}</button>
  				</td>
  			</tr>
  		</table>

  	</div>
</div>
