
<!-- user list -->
<div class="list" ng-controller='UserController'>
	<div class="row center">
		<fieldset>
  		    <legend>Sort by:</legend>
  		    <input type="radio" name="sortby" value="email" id="user-email" required><label for="user-email">Email</label>
  		    <input type="radio" name="sortby" value="name" id="user-name"><label for="user-name">Name</label>
  		    <input type="radio" name="sortby" value="gender" id="user-gender"><label for="user-gender">Gender</label>

  		    <br>

  		    <select class="sortby-input">
 			  <option value="ascending">Ascending</option>
 			  <option value="descending">Descending</option>
 			</select>
  		</fieldset>

  		<table class="hover">
		  <thead>
		    <tr>
		      <th width="100">Name</th>
		      <th width="100">Email</th>
		      <th width="50">Gender</th>
		      <th width="100">Phone Number</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td><a ng-href="#/users/123">Samuel J. Henson</a></td>
		      <td>SamuelJHenson@hotmail.com</td>
		      <td>Male</td>
		      <td>806-665-9317</td>
		    </tr>
		    <tr>
		      <td><a ng-href="#/users/123">Edith T. Thomas</a></td>
		      <td>EdithTThomas@aol.com</td>
		      <td>Male</td>
		      <td>718-421-5583</td>
		    </tr>
		    <tr>
		      <td><a ng-href="#/users/123">Rose G. Fisher</a></td>
		      <td>RoseGFisher@gmail.com</td>
		      <td>Female</td>
		      <td>724-247-6007</td>
		    </tr>
		  </tbody>
		</table>
  	</div>
</div>
